:root{
--colorBack:radial-gradient(black,rgb(23, 13, 66));
--color1:#1F2DA8;
--color2:#1E58A8;
--color3:#6A1EA8;
--color4:linear-gradient(#3D1EA8,#3D1EA822);
--color5:#1E83A8;
--color6:#565FA8;
}
*{box-sizing:border-box}
.background{
  width:100vw;
  height:100vh;
  background:var(--colorBack);
  display:flex;
  justify-content:center;
  align-items:center;
}

body {
  font-family: "Open Sans";
}

.app{
  width:30%;
  height:50%;
  background:var(--color4);
  border-radius:1rem;
  padding:3rem;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:repeat(3,1fr);
  grid-gap:3rem;
}

@media (max-width:520px){
  .app{
    width:80%;
    height:80%;
  }
}

.elements{
  background:var(--color6);
  border-radius:5px;
  text-align:center;
  font-weight:bold;
  color:#c2d8e7;
}

.button{
  background-color: transparent;
  width:2rem;
  height:2rem;
}